/* :root {
} */

.markdown-body {
  color: white;
}

.markdown-body p {
  padding-top: 1em;
}
.markdown-body p:first-child {
  padding-top: 0em;
}

.markdown-body h1 {
  font-size: 2em !important;
  font-weight: bolder;
}

.markdown-body h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

.markdown-body h3 {
  font-size: 1.17em;
  font-weight: bolder;
}

.markdown-body h4 {
  font-size: 1em;
  font-weight: bolder;
}

.markdown-body h5 {
  font-size: 0.83em;
  font-weight: bolder;
}

.markdown-body h6 {
  font-size: 0.67em;
  font-weight: bolder;
}

.markdown-body blockquote {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 5px solid rgba(255, 255, 255, 0.267);
}

.markdown-body ul,
.markdown-body ol {
  list-style: inside !important;
}

.markdown-body ul,
ol > li {
  list-style: inherit;
  list-style-type: decimal;
}

.markdown-body > p > code {
  font-family: "Fira Code", monospace;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

.markdown-body > pre > code {
  font-family: "Fira Code", monospace;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  display: block;
  box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
